li
{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 4px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;

    width: fit-content;
    background-color: #f2f2f2;
}

.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    background-color: white;
}

@media screen and (max-width: 768px)
{
    .container
    {
        width: 90%;
    }
    
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #302465;

    
}

.btnDiv
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.btnDiv button
{
    width: 75%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #3e2167;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}